.employee-list .list-group-item-action:hover {
  background-color: #b3d1ef;

  .icon {
    color: #e9ecef;
  }
}

.employee-list .list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;

  .icon {
    color: white;
  }
}

.employee-list .list-group-item-action {
  .icon {
    color: white;
  }
}
