<div class="jumbotron mt-3" style="min-height: 80vh; padding-top: 32px; padding-right: 16px">
  <div class="row">
    <div class="pr-0 pl-0 position-fixed" style="width: 300px">
        <div class="form-group list-group-item mb-1 mr-2">
          <input class="form-control w-100" type="search" (input)="onSearchChange($event.target['value'])"
                 placeholder="Search employee" id="Mail-search">
        </div>
      <ul class="list-group employee-list" style="height: 60vh; overflow: auto">
        <a *ngFor="let employee of employeeListDisplay"
           class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center"
           [class.active]="employee == selectedEmployee" (click)="employeeSelect(employee)" [routerLink]="">
          {{employee.displayName}}
          <span>
                        <span class="mr-3" [innerHTML]="employee.guid | reviewStatus: reviewStatusList"></span>
                        <span class="icon fa fa-chevron-right fa-lg mt-1" aria-hidden="true"></span>
                    </span>
        </a>
      </ul>
    </div>
    <div class="mail-view d-none d-block " style="padding-left: 310px; width: 100%">
      <div class="message-body">
        <pr-review-edit [superiorView]="true"
                        [employeeStream]="employeeSource.asObservable()" [employee]="selectedEmployee"
                        (statusChanged)="refreshStatus()"></pr-review-edit>
      </div>
    </div>
  </div>
</div>
