<div class="panel-container" [ngClass]="classList">
    <div *ngIf="expansive" class="panel-header" [ngClass]="{'expanded': isExpanded}">
        <div class="clickable-area" (click)="isExpanded = expansive ? !isExpanded : true">
            <div *ngIf="expansive" tabindex="0" class="panel-handler">
                <span class="fa fa-chevron-right fa-lg" [@arrowState]="isExpanded ? 'expanded' : 'collapsed'"></span>
            </div>
            <span class="header-title">{{headerTitle}}</span>
        </div>
    </div>
    <div class="panel-body" [@panelState]="isExpanded ? 'expanded' : 'collapsed'">
        <ng-content></ng-content>
    </div>
</div>