$circle-size: 30px;
$current-circle-size: 40px;
$font-size: 16px;
$current-font-size: 20px;
$line-size: 4px;
$line-margin: 10px;

$color-blue: #1e90ff;
$color-green: #558B2F;

$circle-difference: calc(#{$current-circle-size} - #{$circle-size});

.wrapper-progressBar {
  width: 100%;
}

.progressBar li {
  list-style-type: none;
  float: left;
  text-align: center;
  position: relative;
  font-size: $font-size;
}

.progressBar li:before {
  content: "";
  border-radius: 50%;
  width: $circle-size;
  height: $circle-size;
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto 10px;
  background-color: white;
}

.progressBar li i {
  position: absolute;
  transform: translate(calc(-#{$font-size} / 2), calc(-#{$circle-size} - #{$font-size} / 4));
  color: black;
  width: $font-size;
  height: $font-size;
  text-align: center;
}

.progressBar li:after {
  content: "";
  position: absolute;
  width: calc(100% - #{$circle-size} - #{$line-margin});
  height: $line-size;
  background-color: #ddd;
  top: calc((#{$circle-size} / 2) - (#{$line-size} / 2));
  left: calc(-50% + (#{$circle-size} / 2) + (#{$line-margin} / 2));
  border-radius: $line-size;
}

.progressBar li:first-child:after {
  content: none;
}

.progressBar li.active {
  color: $color-blue;
}

.progressBar li.active:before {
  border-color: $color-blue;
  background-color: $color-blue;
}

.progressBar li.active i {
  color: white;
}

.progressBar .active:after {
  background-color: $color-blue;
}

.progressBar li.current {
  font-size: $current-font-size;
}

.progressBar li.current:before {
  width: $current-circle-size;
  height: $current-circle-size;
  transform: translateY(calc((#{$circle-size} - #{$current-circle-size}) / 2));
}

.progressBar li.current i {
  // transform: translate(calc(-#{$current-font-size} / 2), calc(-#{$current-font-size} / 2 - #{$current-circle-size}));
  transform: translate(calc(-#{$current-font-size} / 2), calc(-#{$current-circle-size} - #{$current-font-size} / 4));
  width: $current-font-size;
  height: $current-font-size;
}

.progressBar li.current:after, .progressBar li.next:after {
  width: calc(100% - #{$circle-size} - #{$line-margin} - #{$circle-difference} / 2);
}

.progressBar li.next:after {
  left: calc(-50% + #{$circle-size} / 2 + #{$line-margin} / 2 + #{$circle-difference} / 2);
}

.progressBar li.final {
  font-size: $current-font-size;
  color: $color-green;
}

.progressBar li.final:before {
  border-color: $color-green;
  background-color: $color-green;
}
