<div class="col-xs-12 col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Performance review</h4>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input id="username" formControlName="username" type="text" class="form-control"
                 [ngClass]="{ 'is-invalid': controls.username.touched && controls.username.errors }">
          <div *ngIf="controls.username.touched && controls.username.errors" class="invalid-feedback">
            <div *ngIf="controls.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" class="form-control"
                 [ngClass]="{ 'is-invalid': controls.password.touched && controls.password.errors }">
          <div *ngIf="controls.password.touched && controls.password.errors" class="invalid-feedback">
            <div *ngIf="controls.password.errors.required">Password is required</div>
          </div>
        </div>
        <button [disabled]="loading || loginForm.invalid" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center mt-4">
  <p class="text-center">Frontend version: 1.4.3</p>
</div>
<div class="row d-flex justify-content-center mt-1">
  <p class="text-center">Backend version: {{version}}</p>
</div>
