<button *ngIf="review.status==reviewStatus.PendingGoalsDefinition && !superiorView" class="btn btn-primary mb-1"
        (click)="openAddGoalModal(addGoalModal)">Add Goal
</button>
<ng-container *ngFor="let goal of goalList; let i = index">
  <h3 *ngIf="i === 0" class="text-center mb-4">Personal goals</h3>
  <pr-goal-edit [goal]="goal" [status]="review.status" [superiorView]="superiorView" (delete)="deleteGoal()"
                (update)="updateGoal()" (updateComment)="updateComment()" (removeComment)="deleteComment()">
  </pr-goal-edit>
</ng-container>

<ng-template #addGoalModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Add new goal</h4>
    <button type="button" class="close" (click)="c('Cross click')" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="addGoalForm" (ngSubmit)="addGoal()">
    <div class="modal-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" class="form-control"
               [ngClass]="{ 'is-invalid': controls.title.touched &&controls.title.errors }">
        <div *ngIf="controls.title.touched && controls.title.errors" class="invalid-feedback">
          <div *ngIf="controls.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" type="text" class="form-control" rows="5"
                  [ngClass]="{ 'is-invalid': controls.description.touched && controls.description.errors }"></textarea>
        <div *ngIf="controls.description.touched && controls.description.errors" class="invalid-feedback">
          <div *ngIf="controls.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="addGoalForm.invalid" class="btn btn-primary mx-1">Save</button>
    </div>
  </form>
</ng-template>
