<div class="progress-cloud" *ngIf="progressService.isActionInProgress">
  <div class="center">
    <div class='icon'></div>
    <div class="spinner spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 50px">
  <nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark fixed-top container rounded-bottom">
    <div class="navbar-nav col-4">
      <a class="nav-item nav-link" routerLink="/review">My review</a>
      <a *ngIf="currentUser.isSuperior" class="nav-item nav-link" routerLink="/reviewEmployees">Employees review</a>
    </div>
    <div class="navbar-nav col-4 justify-content-center">
      <a class="nav-item nav-link" routerLink="/" style="color: white; font-size: 20px; padding: 4px 0">Famnit Performance Review</a>
    </div>
    <div class="navbar-nav col-4 justify-content-end">
      <div class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button">
          {{contextService.year}}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a *ngFor="let year of contextService.getContextYearList()" ngbDropdownItem [routerLink]=""
             (click)="contextYearChange(year)">{{year}}</a>
        </div>
      </div>
      <a class="nav-item nav-link justify-content-end vertical-line" [routerLink]="" (click)="logout()">Logout</a>
      <span class="navbar-text vertical-line">
                {{currentUser.displayName}}
            </span>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
