<div *ngIf="goal" class="card mb-3">
  <div class="card-body container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h5 class="card-title">{{goal.title}}</h5>
        <h6 class="card-title">Description</h6>
        <p class="card-text ml-2" style="white-space: pre-wrap">{{goal.description}}</p>
        <h6 *ngIf="goal.comments.length > 0" class="card-title">Comments</h6>
        <div *ngFor="let comment of goal.comments" class="d-flex">
          <p class="card-text ml-2 mb-2" style="line-height: 32px">
            {{comment.date | date: 'dd.MM.yyyy' }}
            <span style="font-weight: 500;">- {{comment.user}} </span>
            ({{(comment.type|commentType)}}): {{comment.content}}
          </p>
          <ng-container *ngIf="isUpdatable(comment.type)">
            <button class="btn d-flex justify-content-center align-items-center ml-2" style="width: 24px; height: 24px"
                    (click)="openEditCommentModal(editCommentModal, comment)">
              <span class="fa fa-pencil fa-lg"></span>
            </button>
            <button (click)="deleteComment(comment)"
                    class="btn d-flex justify-content-center align-items-center ml-1" style="width: 24px; height: 24px">
              <span class="fa fa-trash-o fa-lg" style="color: #dc3545;"></span>
            </button>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4 float-right">
        <button *ngIf="status == reviewStatus.PendingGoalsDefinition && !superiorView" type="button"
                class="btn btn-default float-right" (click)="deleteGoal()">
          <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
        </button>
        <button *ngIf="status == reviewStatus.PendingGoalsDefinition && !superiorView" type="button"
                class="btn btn-default float-right" (click)="openEditGoalModal(editGoalModal)">
          <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
        </button>
        <div *ngIf="status >= reviewStatus.EmployeeAssessment" class="float-right"
             style="display: flex; align-items: center;">
          Employee
          <pr-rating [(rate)]="goal.employeeAssessment" [readonly]="true" [small]="true"></pr-rating>
        </div>
        <div *ngIf="status >= reviewStatus.SuperiorAssessment" class="float-right"
             style="display: flex; align-items: center;">
          Superior
          <pr-rating [(rate)]="goal.superiorAssessment" [readonly]="true" [small]="true"></pr-rating>
        </div>
      </div>
    </div>
    <div class="row card bg-light mt-3"
         *ngIf="(status == reviewStatus.SuperiorGoalsConfirmed && !superiorView) || (status == reviewStatus.EmployeeAssessment && superiorView)">
      <div class="col-md-12" [formGroup]="assessmentForm">
        <div class="form-group">
          <label for="rate">Rate</label>
          <pr-rating id="rate" formControlName="rate" class="form-control" (rateChange)="addAssessment($event)"
                     [ngClass]="{ 'is-invalid': assessmentForm.controls.rate.touched && assessmentForm.controls.rate.errors }"></pr-rating>
          <div *ngIf="assessmentForm.controls.rate.errors"
               class="invalid-feedback">
            <div *ngIf="assessmentForm.controls.rate.errors.required">Rate is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <div class="input-group ">
                        <textarea formControlName="comment" type="text" class="form-control" rows="3"
                                  style="resize:none" id="comment" [(ngModel)]="comment"
                                  [ngClass]="{ 'is-invalid my-is-invalid': assessmentForm.controls.comment.touched  && comment.length}"></textarea>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-primary btn-default"
                      [disabled]="assessmentForm.controls.comment.invalid" (click)="addComment()">
                <span class="fa fa-paper-plane fa-lg" aria-hidden="true"></span>
              </button>
            </div>
            <div *ngIf="assessmentForm.controls.comment.touched && comment.length" class="invalid-feedback">
              <div style="color: #e67e22">Don't forget to submit!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #editCommentModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Edit comment</h4>
    <button type="button" class="close" (click)="c('Cross click')" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editCommentForm" (ngSubmit)="editComment()">
    <div class="modal-body">
      <div class="form-group">
        <label for="content">Comment</label>
        <input formControlName="content" type="text" class="form-control" id="content"
        [ngClass]="{'is-invalid': editCommentForm.controls.content.touched && editCommentForm.controls.content.errors}">
        <div *ngIf="editCommentForm.controls.content.touched && editCommentForm.controls.content.errors">
          <div *ngIf="editCommentForm.controls.content.errors.required">Comment is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]=" !(editCommentForm.dirty) || editCommentForm.invalid" class="btn btn-primary mx-1">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #editGoalModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Edit goal</h4>
    <button type="button" class="close" (click)="c('Cross click')" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editGoalForm" (ngSubmit)="editGoal()">
    <div class="modal-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" type="text" class="form-control" id="title"
               [ngClass]="{ 'is-invalid': editGoalForm.controls.title.touched && editGoalForm.controls.title.errors }">
        <div *ngIf="editGoalForm.controls.title.touched && editGoalForm.controls.title.errors" class="invalid-feedback">
          <div *ngIf="editGoalForm.controls.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" formControlName="description" type="text" class="form-control" rows="5"
                  style="white-space: pre-wrap"
                  [ngClass]="{ 'is-invalid': editGoalForm.controls.description.touched && editGoalForm.controls.description.errors }"></textarea>
        <div *ngIf="editGoalForm.controls.description.touched && editGoalForm.controls.description.errors"
             class="invalid-feedback">
          <div *ngIf="editGoalForm.controls.description.errors.required">Description is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]=" !(editGoalForm.dirty) || editGoalForm.invalid" class="btn btn-primary mx-1">Save</button>
    </div>
  </form>
</ng-template>
