<div *ngIf="review" class="overflow-auto" style="min-height: 500px"
     [ngClass]="{ 'border border-danger': errorList.length > 0 , 'jumbotron mt-3': !superiorView}" id="pdf" #pdf>

  <span *ngIf="superiorView" class="title">Review {{review.year}} - {{ employee.displayName }} - </span>
  <span *ngIf="!superiorView" class="title">Review {{review.year}} - </span>

  <span [ngSwitch]="review.status" *ngIf="!superiorView" class="title light-font">
    <span *ngSwitchCase="reviewStatus.PendingGoalsDefinition">Insert custom goals</span>
    <span *ngSwitchCase="reviewStatus.CustomGoalsDefined ">Waiting for superior confirmation</span>
    <span *ngSwitchCase="reviewStatus.SuperiorGoalsConfirmed">Evaluate yourself</span>
    <span *ngSwitchCase="reviewStatus.EmployeeAssessment">Waiting for superior evaluation</span>
    <span *ngSwitchCase="reviewStatus.SuperiorAssessment">Waiting for final evaluation</span>
    <span *ngSwitchCase="reviewStatus.NoReview">No review</span>
  </span>

  <span [ngSwitch]="review.status" *ngIf="superiorView" class="title light-font">
    <span *ngSwitchCase="reviewStatus.PendingGoalsDefinition ">Waiting for employee to define custom goals</span>
    <span *ngSwitchCase="reviewStatus.CustomGoalsDefined">Confirm employee custom goals</span>
    <span *ngSwitchCase="reviewStatus.SuperiorGoalsConfirmed">Waiting for employee evaluation</span>
    <span *ngSwitchCase="reviewStatus.EmployeeAssessment">Evaluate your employee</span>
    <span *ngSwitchCase="reviewStatus.SuperiorAssessment">Final evaluation</span>
    <span *ngSwitchCase="reviewStatus.ManagementAssessment">Employee review closed</span>
    <span *ngSwitchCase="reviewStatus.NoReview">No review</span>
  </span>

  <div class="col">
    <div ngbDropdown class="mb-2 mt-2" *ngIf="superiorView">
      <button class="btn btn-outline-primary" id="statusChangeDropdown" ngbDropdownToggle>Change review status</button>
      <div ngbDropdownMenu aria-labelledby="statusChangeDropdown">
        <button *ngFor="let step of steps" (click)="statusSet(review.id, step)"
                ngbDropdownItem
                [disabled]="step === reviewStatus[review.status]">{{ step }}</button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="review.status !== reviewStatus.NoReview">
    <pr-stepper [review]="review"></pr-stepper>
    <div *ngIf="errorList.length > 0" class="alert alert-danger">
      <ul>
        <li *ngFor="let error of errorList">
          {{error}}
        </li>
      </ul>
    </div>
    <pr-panel headerTitle="Goals" [expansive]="true" [autoExpand]="review.status < reviewStatus.ManagementAssessment">
      <pr-goal-list-edit #goalEdit [reviewInput]="review" [superiorView]="superiorView"></pr-goal-list-edit>
    </pr-panel>
    <hr>

    <div *ngIf="review.status >= reviewStatus.SuperiorAssessment" class="mb-2">
      <h6>Employee average goals grade: {{goalEdit.goalList | avg:'employeeAssessment'| number:'1.0-1'}}</h6>
      <ng-container *ngIf="review.status >= reviewStatus.ManagementAssessment">
        <h6>Superior average goals grade: {{goalEdit.goalList | avg:'superiorAssessment'| number:'1.0-1'}}</h6>
        <h6>Final grade:</h6>
        <pr-rating [(rate)]="review.finalAssessment"
                   [readonly]="true"></pr-rating>
      </ng-container>
    </div>
    <div *ngIf="review.comments && review.comments.length > 0">
      <h6>Comments:</h6>
      <div class="card mb-3 p-2">
        <div *ngFor="let comment of review.comments" class="card-text d-flex">
          <p class="card-text ml-2"><span style="font-weight: 500; line-height: 32px">{{comment.user}}
            ({{(comment.type|commentType)}}):</span>
            {{comment.content}}
          </p>
          <ng-container *ngIf="isUpdatable(comment)">
            <button (click)="openEditCommentModal(editCommentModal, comment)"
                    class="btn d-flex justify-content-center align-items-center ml-2" style="width: 24px; height: 24px">
              <span class="fa fa-pencil fa-lg" style="color: #919398;"></span>
            </button>
            <button (click)="deleteComment(comment)"
                    class="btn d-flex justify-content-center align-items-center ml-1" style="width: 24px; height: 24px">
              <span class="fa fa-trash-o fa-lg" style="color: #dc3545;"></span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>

    <div *ngIf="review.status == reviewStatus.SuperiorAssessment && superiorView" [formGroup]="finalAssessmentForm">
      <div class="form-group">
        <label for="rate">Final rate</label>
        <pr-rating id="rate" formControlName="rate" class="form-control" (rateChange)="addFinalAssessment($event)"
                   [ngClass]="{ 'is-invalid': finalAssessmentForm.controls.rate.touched && finalAssessmentForm.controls.rate.errors }"></pr-rating>
        <div *ngIf="finalAssessmentForm.controls.rate.errors"
             class="invalid-feedback">
          <div *ngIf="finalAssessmentForm.controls.rate.errors.required">Rate is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="commentS">Comment</label>
        <div class="input-group ">
          <textarea id="commentS" formControlName="comment" type="text" class="form-control" rows="3" style="resize:none"></textarea>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary btn-default"
                    [disabled]="finalAssessmentForm.controls.comment.invalid" (click)="addComment('S')">
              <span class="fa fa-paper-plane fa-lg" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="review.status === reviewStatus.SuperiorGoalsConfirmed && !superiorView"
         [formGroup]="employeeFinalCommentForm">
      <div class="form-group">
        <label for="commentE">Comment</label>
        <div class="input-group">
          <textarea id="commentE" formControlName="comment" type="text" class="form-control" rows="3" style="resize: none"></textarea>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-primary btn-default"
                    [disabled]="employeeFinalCommentForm.controls.comment.invalid" (click)="addComment('E')">
              <span class="fa fa-paper-plane fa-lg" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="review.status" *ngIf="!superiorView">
      <button *ngSwitchCase="reviewStatus.PendingGoalsDefinition && !superiorView" class="btn btn-primary"
              (click)="statusChange(review.id,reviewStatus.CustomGoalsDefined)">Confirm custom
        goals
      </button>
      <button *ngSwitchCase="reviewStatus.SuperiorGoalsConfirmed" class="btn btn-primary"
              (click)="statusChange(review.id,reviewStatus.EmployeeAssessment)">Confirm assessments
      </button>
    </div>
    <div [ngSwitch]="review.status" *ngIf="superiorView">
      <button *ngSwitchCase="reviewStatus.CustomGoalsDefined" class="btn btn-primary mx-1"
              (click)="statusChange(review.id,reviewStatus.SuperiorGoalsConfirmed)">Confirm goals
      </button>
      <button *ngSwitchCase="reviewStatus.CustomGoalsDefined" class="btn btn-danger mx-1"
              (click)="statusChange(review.id,reviewStatus.PendingGoalsDefinition)">Reject goals
      </button>
      <button *ngSwitchCase="reviewStatus.EmployeeAssessment" class="btn btn-primary"
              (click)="statusChange(review.id,reviewStatus.SuperiorAssessment)">Confirm assessments
      </button>
      <button *ngSwitchCase="reviewStatus.SuperiorAssessment" class="btn btn-primary"
              (click)="statusChange(review.id,reviewStatus.ManagementAssessment)">Confirm final assessments
      </button>
    </div>
  </ng-container>
</div>

<div *ngIf="review === null">
  <h3 class="mt-3">No data...</h3>
</div>

<button *ngIf="superiorView && review && review.status == reviewStatus.ManagementAssessment" (click)="generatePdf()"
        class="btn btn-primary">
  <i class="fa fa-file-pdf-o"></i> Download
</button>


<ng-template #editCommentModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">Edit comment</h4>
    <button type="button" class="close" (click)="c('Cross click')" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editCommentForm" (ngSubmit)="editComment()">
    <div class="modal-body">
      <div class="form-group">
        <label for="content">Comment</label>
        <input formControlName="content" type="text" class="form-control" id="content"
               [ngClass]="{'is-invalid': editCommentForm.controls.content.touched && editCommentForm.controls.content.errors}">
        <div *ngIf="editCommentForm.controls.content.touched && editCommentForm.controls.content.errors">
          <div *ngIf="editCommentForm.controls.content.errors.required">Comment is required</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button [disabled]=" !(editCommentForm.dirty) || editCommentForm.invalid" class="btn btn-primary mx-1">Save
      </button>
    </div>
  </form>
</ng-template>
