<ngb-rating [(rate)]="currentRate" max="6" [readonly]="readonly" (rateChange)="onRateChange()" style="outline: none;"
            [class.readonly]="readonly">
  <ng-template let-fill="fill" let-index="index">
    <span *ngIf="index == 0" class="na ml-1" [class.na-filled]="fill === 100" [class.na-small]="small"
          [hidden]="readonly && currentRate != 1"
          [style.transform]="(readonly && currentRate == 1) ? 'translateY(-1px)' : 'null'">N/A</span>
    <span *ngIf="index > 0" [class.star-filled]="fill === 100" [class.star-small]="small"
          [ngbTooltip]="getToolTip(index)"
          tooltipClass="tooltip-custom-class" class="ml-1 fa fa-star fa-lg star" [openDelay]="100"
          aria-hidden="true" [hidden]="readonly && currentRate == 1"></span>
  </ng-template>
</ngb-rating>
