.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.star-small {
  font-size: 1rem;
}

.star-filled {
  color: #1e90ff;
}

.na {
  display: inline-block;
  width: 36px;
  text-align: center;
}

.na-filled {
  font-weight: bolder;
  color: #1e90ff;
}

.na-small {
  font-size: 14px;
  transform: translateY(2px);
}

.readonly {
  width: 100px;
}
